@import "../../global.scss";

.topbar {
    background-color: $backgroundColor;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;


    &:before {
        width: 70%;
        content: "";
        position: absolute;
        top: 77px;
        border-bottom: 3px solid $goldColor;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;

    .topbar--left {

        flex: 4;

        @include mobile {
            flex: 9;
        }


        .topbar--logo {
            list-style: none;
            text-decoration: none;
            font-size: 20px;
            padding-left: 40px;

            @include mobile {
                font-size: 16px;
                padding-left: 20px;
            }

            span {
                color: $goldText;
            }
        }

    }

    .topbar--center {
        text-decoration: none;
        flex: 5;
        padding-right: 30px;
        font-size: 12px;

        @include mobile {
            display: none;
            flex: 0;
        }

        ul {
            display: flex;
            justify-content: space-evenly;


            .color {
                color: $goldText;
            }
        }

        .topbarList {

            li {

                a {
                    text-decoration: none;
                    font-weight: 300;
                    font-size: 12px;

                    &.topbar--active {
                        color: $goldColor;
                    }


                }
            }
        }




    }

    .topbar--right {
        flex: 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 60px;

        @include mobile {
            flex: 3;
            margin-right: 25px;

        }

        .topbar--contact {

            a {

                align-items: center;
                margin-right: 20px;

                ion-icon {
                    font-size: 19px;
                    color: $goldText;
                }
            }

            @include mobile {
                display: none;
            }
        }

        .topbar--hamburger {
            display: none;

            @include mobile {
                display: flex;
                cursor: pointer;

            }

            ion-icon {
                color: $goldColor;
                font-size: 35px;
            }

            .topbar--menu {
                display: none;

            }

            .active {
                display: flex;

            }
        }


    }



}