@import "../../global.scss";

.about {
    background-color: $backgroundColor;
    display: flex;
    flex-direction: column;

    @include mobile {
        justify-content: center;
        align-items: center;
    }


    .about--top {
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 30px;

            @include mobile {
                font-size: 25px;
            }
        }

        @include mobile {
            flex: 1.5;
        }

    }

    .about--center {
        flex: 9;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mobile {
            flex: 10;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .about--left {
            flex: 6;
            display: flex;
            justify-content: center;
            align-items: center;

            @include mobile {
                flex: 4;
            }


            img {
                width: 350px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                border-radius: 20px;
                margin-left: 300px;

                @include mobile {
                    width: 220px;
                    border-radius: 50%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-left: 0;
                }

            }
        }

        .about--right {
            flex: 6;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            @include mobile {
                flex-direction: 8;
            }

            .about--right-top {
                display: flex;

                .aboutList {
                    display: inline-block;
                    width: 30px;
                    margin-left: 10px;
                    margin-bottom: 10px;

                    li {
                        display: flex;
                        justify-content: center;

                        a {
                            text-decoration: none;
                            margin-right: 5px;
                            margin-left: 5px;
                            cursor: pointer;
                            font-size: large;

                            &.aboutList--active {

                                ion-icon {
                                    color: $goldText;

                                }
                            }


                        }
                    }


                }
            }


            p {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 400px;
                font-size: 16px;
                letter-spacing: 1px;
                margin-left: 60px;
                font-weight: 300;
                line-height: 25px;

                @include mobile {
                    justify-content: center;
                    align-items: center;
                    width: 300px;
                    font-size: 12px;
                    margin-left: 0;
                    font-weight: 300;

                }
            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 60px;
                padding: 10px 15px;
                background-color: $goldColor;
                border-radius: 10px;
                margin-top: 30px;

                @include mobile {
                    margin-left: 90px;

                }

                a {
                    text-decoration: none;
                    color: $backgroundColor;
                    font-weight: 600;
                    font-size: 13px;

                }
            }
        }

    }

    .about--bottom {
        flex: 1;

        .about--arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;

            a {

                ion-icon {
                    color: $goldColor;
                    font-size: 20px;
                }
            }
        }
    }

}