$backgroundColor: #1E1E1E;
$backgroundColorMenu: #474747;
$backgroundColorForm: #898989;
$goldColor: #C2A978;
$goldFooter: #80775c;
$goldText: #E5AF43;
$skillgold: #baac90;

$width: 670px;

@mixin mobile {
    @media(max-width:#{$width}) {
        @content;
    }
}